/* .citytable{ max-height: 500px; overflow-y: auto;} */

/* .citytable thead{position: sticky; top: 0;} */

html {
    height: 100% !important;
    overflow: auto !important;
}

body {
    height: 100% !important;
    box-sizing: border-box !important;
}

* {
    font-family: "Anek Telugu", sans-serif;

}

.m1 {
    display: flex;
    justify-content: center;
    width: 100%;
    ;
    position: sticky;
    top: 0;
    background-color: #212529 !important;
    z-index: 5000 !important;

}

.hp_egeszoldal {
    display: flex;
    flex-direction: column;
    max-width: 80% !important;
    margin: auto;
    align-items: center;
    height: auto;
}

.hp_oldalkiscim {
    padding: 20px;
}

.hp_nagycim {

    text-align: center;
    align-items: center;

}

.hp_szoveg::first-letter {
    font-weight: bolder;
    font-size: larger;
}

.hp_img {
    border-radius: 100%;
}


.tablecity_kereso {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 70px;
    background-color: #212529 !important;
    z-index: 4000 !important;

}

.tablecity_table {
    max-height: 420px;
    overflow-y: auto;

}



.tablecity_table table thead tr th {
    position: sticky !important;
    top: 0px !important;
    box-shadow: inset 0 0.2px white, inset 0 -0.2px 0 0 white !important;
    background-color: #212529 !important;
    z-index: 3000 !important;

}


.sarkoz_table {
    display: flex;
    justify-content: center;
}


.sarkoz_table th {
    font-size: larger;
}

.sarkoz_table td {
    font-size: larger;
    color: darkorange;
}

.sarkoz_velemenybevitel {
    width: 500px;

}





.table_kereso>.container {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
    position: sticky !important;
    overflow: auto;
}







.table {
    overflow-y: auto !important;
    max-height: 370px !important;
    background-color: #212529 !important;

}


.table table thead th {
    position: sticky !important;
    top: 2px !important;
    box-shadow: inset 0 0.2px white, inset 0 -0.2px 0 0 white !important;
    background-color: #212529 !important;


}


.vote_kereso {
    position: sticky !important;
    top: 40px !important;
    margin-bottom: 10px;
    overflow: auto;
}


.vote {
    height: 450px;
    overflow-y: auto;
    background-color: #212529 !important;

}

.vote table thead th {
    position: sticky !important;
    top: 0px !important;
    box-shadow: inset 0 0.2px white, inset 0 -0.2px 0 0 white !important;
    background-color: #212529 !important;



}


.szgkeret{
    border: 3px solid white;
    padding: 3px;
    border-radius: 3%;
}

.kijelzo{
    border: 2px solid white;
    border-radius: 10%;
    padding: 20px; 
    width: 100%;
    font-size: larger;
}

 .buttonsholder{
     border: 2px solid white;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 340px; 
    align-items: center;
    justify-content: center;

}


.buttonsholder button{
    border-radius: 2%;
    padding: 0px;
    font-size: large;
    width: 70px;
    box-shadow: 0px 4px 0px;
    margin: 1px;
}










@media screen and (max-width: 991.5px) {




    .container {
        width: 100% !important;
    }



    .tablecity_kereso {
        position: static !important;
        top: unset !important;
        width: 100% !important;
        margin-bottom: 0px !important;

    }



    .tablecity_kereso>form {
        width: 100% !important;
    }



    .tablecity_kereso form>div {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
    }

    .tablecity_kereso form div>.col-auto {
        width: 100%;
    }

    .tablecity_table {
        max-height: 600px;

    }






.table_kereso>.container {
    flex-direction: column !important;
    position: static !important;
    overflow: auto;
}


    .table_kereso {
        position: static !important;
        top: unset !important;
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .table table thead th {
        position: sticky !important;
        top: 0px !important;
        box-shadow: inset 0 0.2px white, inset 0 -0.2px 0 0 white !important;
        background-color: #212529 !important;


    }

    .table{max-height: 602px !important;}


    .vote {
        display: flex !important;
        position: sticky !important;
        max-height: 370px;
        overflow: auto;

    }


    .vote table thead th {
        position: sticky !important;
        top: 0px !important;
        box-shadow: inset 0 0.2px white, inset 0 -0.2px 0 0 white !important;
        background-color: #212529 !important;





    }





}